@import 'colors.scss';

#page-teacher-list {
  width: 100vw;
  height: 100vh;

  @media (min-width: $desktop-breakpoint) {
    max-width: 100%;
  }

  #search-teachers {
    margin-top: 3.2rem;
    @media (min-width: $responsive-breakpoint) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 16px;
      position: absolute;
      bottom: -28px;
    }

    label {
      color: $color-text-in-primary;
    }

    .input-block {
      position: relative;

      & + .input-block {
        margin-top: 1.4rem;
        @media (min-width: 700px) {
          margin-top: 0;
        }
      }

      label {
        font-size: 1.4rem;
      }
      input {
        width: 100%;
        height: 5.6rem;
        margin-top: 0.8rem;
        border-radius: 0.8rem;
        background: $color-input-background;
        border: 1px solid $color-line-in-white;
        outline: 0;
        padding: 0 1.6rem;
        font: 1.6rem Archivo;
      }

      &:focus-within::after {
        content: '';
        width: calc(100% - 3.2rem);
        height: 2px;
        background: $color-primary-light;
        position: absolute;
        left: 1.6rem;
        right: 1.6rem;
        bottom: 0;
      }
    }
  }

  main {
    margin: 3.2rem auto;
    width: 90%;

    @media (min-width: $responsive-breakpoint) {
      padding: 3.2rem 0;
      max-width: 740px;
      margin: 0 auto;
    }
  }
}
