@import 'colors.scss';

.page-header {
  display: flex;
  flex-direction: column;
  background-color: $color-primary;

  @media (min-width: $responsive-breakpoint) {
    height: 340px;
  }

  .top-bar-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $color-text-in-primary;
    padding: 1.6rem 0;

    @media (min-width: $responsive-breakpoint) {
      max-width: $desktop-breakpoint;
    }

    a {
      height: 3.2rem;
      transition: opacity 0.2s;
      &:hover {
        opacity: 0.6;
      }
    }

    & > img {
      height: 1.6rem;
    }
  }

  .header-content {
    width: 90%;
    margin: 0 auto;
    position: relative;
    margin: 3.2rem auto;

    @media (min-width: $responsive-breakpoint) {
      flex: 1;
      max-width: 740px;
      margin: 0 auto;
      padding-bottom: 48px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }

    strong {
      font: 700 3.6rem Archivo;
      line-height: 4.2rem;
      color: $color-title-in-primary;

      @media (min-width: $responsive-breakpoint) {
        max-width: 350px;
      }
    }
  }
}
