@import 'colors.scss';

.teacher-item {
  background: $color-box-base;
  border: 1px solid $color-line-in-white;
  border-radius: 0.8rem;
  margin-top: 2.4rem;
  overflow: hidden;

  header {
    padding: 3.2rem 2rem;
    display: flex;
    align-items: center;

    img {
      width: 8rem;
      height: 8rem;
      border-radius: 50%;
    }

    div {
      margin-left: 2.4rem;
      strong {
        font: 700 2.4rem Archivo;
        display: block;
        color: $color-text-title;
      }

      span {
        font-size: 1.6rem;
        display: block;
        margin-top: 0.4rem;
      }
    }
  }

  footer {
    padding: 3.2rem 2rem;
    background: $color-box-footer;
    border-top: 1px solid $color-line-in-white;
    margin-top: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      width: 20rem;
      height: 5.6rem;
      background: $color-secondary;
      color: $color-button-text;
      border: 0;
      border-radius: 0.8rem;
      cursor: pointer;
      font: 700 1.4rem Archivo;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      transition: 0.2s;
      text-decoration: none;

      @media (min-width: $responsive-breakpoint) {
        width: 24.5rem;
        font-size: 1.6rem;
        justify-content: center;
        img {
          margin-right: 1.6rem;
        }
      }

      &:hover {
        background-color: $color-secondary-dark;
      }
    }
    p {
      strong {
        color: $color-primary;
        font-size: 1.6rem;
        display: block;
        @media (min-width: $responsive-breakpoint) {
          display: initial;
          margin-left: 1.6rem;
        }
      }
    }
  }

  & > p {
    padding: 0 2rem;
    font-size: 1.6rem;
    line-height: 2.8rem;

    @media (min-width: $responsive-breakpoint) {
      padding: 0, 3.2rem;
    }
  }
  @media (min-width: $responsive-breakpoint) {
    header,
    footer {
      padding: 3.2rem;
    }
  }
}
